{% extends 'base.html.twig' %}

{% block title %}Incidencia{% endblock %}

{% block body %}
    <h1>Incidencia</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ incidencia.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ incidencia.titulo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ incidencia.descripcion }}</td>
            </tr>
            <tr>
                <th>Fecha creacion</th>
                <td>{{ incidencia.fechaCreacion is not null ? incidencia.fechaCreacion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Resuelta</th>
                <td>{{ incidencia.resuelta }}</td>
            </tr>
            <tr>
                <th>Fecha resolucion</th>
                <td>{{ incidencia.fechaResolucion is not null ? incidencia.fechaResolucion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ incidencia.id }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ incidencia.categoria }}</td>
            </tr>
            <tr>
                <th>Adjunto</th>
                <td>{{ incidencia.adjunto }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('incidencia_index') }}">back to list</a>

    <a href="{{ path('incidencia_edit', {'id': incidencia.id}) }}">edit</a>

    {{ include('incidencia/_delete_form.html.twig') }}
{% endblock %}
